<div id="main-container">
  <canvas #canvas id="canvas" (mousedown)="this.canvasClickEvent($event)"></canvas>
  <div id="toolbar">
    <button class="toolbar-button" (click)="this.menuButtonClick($event)" >
      <label>Menu</label>
      </button>
      <button class="toolbar-button" (click)="this.clickExportImage($event)">
        <label>Save</label>
      </button>
      <button class="toolbar-button" (click)="this.gameButtonClick($event)">
        <label>Game</label>
      </button>
  </div>
  <div #menu id="parameters-menu">
    <div class="grid-container">
      <img class="parameter-icon" src="./assets/icons/icon_A.svg"/>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.A"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.AMin}}"
          max="{{ShellParametersRef.AMax}}"
          step="any" />
      </div>
      <img class="parameter-icon" src="./assets/icons/icon_alpha.svg"/>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.alpha"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.alphaMin}}"
          max="{{ShellParametersRef.alphaMax}}"
          step="any" />
      </div>
      <img class="parameter-icon" src="./assets/icons/icon_beta.svg"/>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.beta"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.betaMin}}"
          max="{{ShellParametersRef.betaMax}}"
          step="any" />
      </div>
      <img class="parameter-icon" src="./assets/icons/icon_a1.svg"/>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.a"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.aMin}}"
          max="{{ShellParametersRef.aMax}}"
          step="any" />
      </div>
      <img class="parameter-icon" src="./assets/icons/icon_b.svg"/>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.b"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.bMin}}"
          max="{{ShellParametersRef.bMax}}"
          step="any" />
      </div>
    </div>
    <div class="button-bar">
      <button class="shell-button" id="shell-a-button" (click)="this.shellASelectEvent($event)">
        <label>A</label>
      </button>
      <button class="shell-button" id="shell-b-button" (click)="this.shellBSelectEvent($event)">
        <label>B</label>
      </button>
      <button class="shell-button" id="shell-c-button" (click)="this.shellCSelectEvent($event)">
        <label>C</label>
      </button>
      <button class="shell-button" id="shell-random-button" (click)="this.randomShellEvent($event)">
        <label>?</label>
      </button>
    </div>
    <div class="grid-container">
      <label>theta</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.theta"
          (change)="this.parameterUpdateEvent($event)"
          min={{ShellParametersRef.thetaMin}}
          max={{ShellParametersRef.thetaMax}} 
          step="any" />
      </div>
      <label>resolution</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.helper.divisions"
          (change)="this.parameterUpdateEvent($event)"
          min=50
          max=250
          step="1"  />
      </div>
      <input id="wireframeVisibleInput" type="checkbox" [(ngModel)]="this.helper.showWireframe"
                (ngModelChange)="this.wireframeCheckboxChanged($event)"/>
      <label for="wireframeVisibleInput">show wireframe</label>
      <label for="surfaceColorInput">surface color</label>
      <input id="surfaceColorInput" type="color" [(ngModel)]="this.helper.surfaceColor"
        (ngModelChange)="this.surfaceColorChanged($event)"/>
      <label for="wireframeColorInput">wireframe color</label>
      <input id="wireframeColorInput" type="color" [(ngModel)]="this.helper.wireframeColor"
        (ngModelChange)="this.wireframeColorChanged($event)"/>
    </div>
  </div>
</div>
