<div id="main-container">
  <canvas #canvas id="canvas" (mousedown)="this.canvasMouseDownEvent($event)"></canvas>
  <canvas #targetCanvas id="target-canvas" (mousedown)="this.canvasMouseDownEvent($event)"></canvas>
  <div id="toolbar">
    <input type="image" class="toolbar-button" title={{Strings.BUTTON_PARAMETERS_TITLE}} (click)="this.menuButtonClick($event)"
      src="./assets/icons/icon_engrane_menu.svg" />
    <input type="image" class="toolbar-button" title={{Strings.BUTTON_SAVE_IMAGE_TITLE}} (click)="this.clickExportImage($event)"
      src="./assets/icons/icon_save_photo.svg" />
    <button class="toolbar-button" title={{Strings.BUTTON_SANDBOX_TITLE}} (click)="this.sandboxButtonClick($event)">
      <label>Home</label>
    </button>
    <button class="toolbar-button" title={{Strings.BUTTON_HOW_TO_TITLE}} (click)="this.howToButtonClick($event)">
      <label>Help</label>
    </button>
    <label class="switch-label">user</label>
    <label id="shell-switch" class="switch">
      <input type="checkbox" [(ngModel)]="this.targetVisible"
        (ngModelChange)="this.switchButtonClick($event)"/>
      <span class="switch-slider round"></span>
    </label>
    <label class="switch-label">target</label>
  </div>
  <form #menu id="parameters-menu">
    <li class="form-row">
      <img class="parameter-icon" src="./assets/icons/icon_A.svg"/>
      <input class="slider" type=range
        [(ngModel)]="this.parameters.A"
        [ngModelOptions]="{standalone: true}"
        (change)="this.parameterUpdateEvent($event)"
        min="{{ShellParameters.AMin}}"
        max="{{ShellParameters.AMax}}"
        step="any" />
      <input type="image" class="parameter-help-button"
        id="A-help-button"
        title={{Strings.BUTTON_PARAM_A_TITLE}}
        (click)="this.parameterHelpAButtonClick($event)"
        src="./assets/icons/icon_info_i.svg" />
    </li>
    <li class="form-row">
      <img class="parameter-icon" src="./assets/icons/icon_alpha.svg"/>
      <input class="slider" type=range
        [(ngModel)]="this.parameters.alpha"
        [ngModelOptions]="{standalone: true}"
        (change)="this.parameterUpdateEvent($event)"
        min="{{ShellParameters.alphaMin}}"
        max="{{ShellParameters.alphaMax}}"
        step="any" />
      <input type="image" class="parameter-help-button"
        id="alpha-help-button"
        title={{Strings.BUTTON_PARAM_ALPHA_TITLE}}
        (click)="this.parameterHelpAlphaButtonClick($event)"
        src="./assets/icons/icon_info_i.svg" />
    </li>
    <li class="form-row">
      <img class="parameter-icon" src="./assets/icons/icon_beta.svg"/>
      <input class="slider" type=range
        [(ngModel)]="this.parameters.beta"
        [ngModelOptions]="{standalone: true}"
        (change)="this.parameterUpdateEvent($event)"
        min="{{ShellParameters.betaMin}}"
        max="{{ShellParameters.betaMax}}"
        step="any" />
      <input type="image" class="parameter-help-button"
        id="beta-help-button"
        title={{Strings.BUTTON_PARAM_BETA_TITLE}}
        (click)="this.parameterHelpBetaButtonClick($event)"
        src="./assets/icons/icon_info_i.svg" />
    </li>
    <li class="form-row">
      <img class="parameter-icon" src="./assets/icons/icon_a1.svg"/>
      <input class="slider" type=range
        [(ngModel)]="this.parameters.a"
        [ngModelOptions]="{standalone: true}"
        (change)="this.parameterUpdateEvent($event)"
        min="{{ShellParameters.aMin}}"
        max="{{ShellParameters.aMax}}"
        step="any" />
      <input type="image" class="parameter-help-button"
        id="a-help-button"
        title={{Strings.BUTTON_PARAM_A1_TITLE}}
        (click)="this.parameterHelpA1ButtonClick($event)"
        src="./assets/icons/icon_info_i.svg" />
    </li>
    <div id="result-container">
      <img class="result-image" src="./assets/icons/icon_cross_tache.svg" />
      <input #distanceRange id="distance-range" class="heat-range" type="range" disabled
        [(ngModel)]="this.distance"
        [ngModelOptions]="{standalone: true}"
        min="{{ShellParameters.distMin}}"
        max="{{ShellParameters.distMax}}" />
      <img class="result-image" src="./assets/icons/icon_check_correcto.svg" />
    </div>
    <button id="new-game-button" title={{Strings.BUTTON_NEW_GAME_TITLE}} (click)="newGameButtonClick($event)">
      <label>{{Strings.LABEL_NEW_GAME}}</label>
    </button>
  </form>
  <div #modalWindow class="modal" (mousedown)="this.modalMouseDown($event)">
    <div class="modal-content">
      <label class="modal-title">Success!</label>
      <div class="modal-button-bar">
        <button class="modal-button" (click)="this.newGameButtonClick($event)">
          <label>Play again</label>
        </button>
        <button class="modal-button" (click)="this.sandboxButtonClick($event)">
          <label>Go home</label>
        </button>
      </div>
    </div>
  </div>
  <div #modalHowToWindow class="modal" (mousedown)="this.modalMouseDown($event)">
    <div class="modal-howto-content">
      <label class="howto-content-label">{{this.howToContent}}</label>
    </div>
  </div>
  <div #modalHelpWindow class="modal" (mousedown)="this.modalMouseDown($event)">
    <div class="modal-help-content">
      <label class="help-content-label">{{this.helpContent}}</label>
    </div>
  </div>
</div>
