<div id="main-container">
  <canvas #canvas id="canvas" (mousedown)="this.canvasMouseDownEvent($event)"></canvas>
  <canvas #targetCanvas id="target-canvas" (mousedown)="this.canvasMouseDownEvent($event)"></canvas>
  <div id="toolbar">
    <button class="toolbar-button" (click)="this.menuButtonClick($event)" >
      <label>Controles</label>
    </button>
    <button class="toolbar-button" (click)="this.clickExportImage($event)">
      <label>Save</label>
    </button>
    <button class="toolbar-button" (click)="this.sandboxButtonClick($event)">
      <label>Home</label>
    </button>
    <label class="switch-label">user</label>
    <label id="shell-switch" class="switch">
      <input type="checkbox" [(ngModel)]="this.targetVisible"
        (ngModelChange)="this.switchButtonClick($event)"/>
      <span class="switch-slider round"></span>
    </label>
    <label class="switch-label">target</label>
  </div>
  <div #menu id="parameters-menu">
    <div class="grid-container">
      <label>A</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.A"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.AMin}}"
          max="{{ShellParametersRef.AMax}}"
          step="any" />
      </div>
      <label>alpha</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.alpha"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.alphaMin}}"
          max="{{ShellParametersRef.alphaMax}}"
          step="any" />
      </div>
      <label>beta</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.beta"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.betaMin}}"
          max="{{ShellParametersRef.betaMax}}"
          step="any" />
      </div>
      <label>a</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.a"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.aMin}}"
          max="{{ShellParametersRef.aMax}}"
          step="any" />
      </div>
    </div>
    <div id="result-container">
      <div #resultBox id="result-box"></div>
    </div>
  </div>
  <div #modalWindow class="modal" (mousedown)="this.modalMouseDown($event)">
    <div class="modal-content">
      <label class="modal-title">Success!</label>
      <div class="modal-button-bar">
        <button class="modal-button" (click)="this.newGameButtonClick($event)">
          <label>Play again</label>
        </button>
        <button class="modal-button" (click)="this.sandboxButtonClick($event)">
          <label>Go home</label>
        </button>
      </div>
    </div>
  </div>
</div>
