<div id="main-container">
  <canvas #canvas id="canvas" (mousedown)="this.canvasClickEvent($event)"></canvas>
  <canvas #targetCanvas id="target-canvas" (mousedown)="this.canvasClickEvent($event)"></canvas>
  <div id="toolbar">
    <button class="toolbar-button" (click)="this.menuButtonClick($event)" >
      <label>Menu</label>
    </button>
    <button class="toolbar-button" (click)="this.clickExportImage($event)">
      <label>Save</label>
    </button>
  </div>
  <div #menu id="parameters-menu">
    <div class="grid-container">
      <label>A</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.A"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.AMin}}"
          max="{{ShellParametersRef.AMax}}"
          step="any" />
      </div>
      <label>alpha</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.alpha"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.alphaMin}}"
          max="{{ShellParametersRef.alphaMax}}"
          step="any" />
      </div>
      <label>beta</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.beta"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.betaMin}}"
          max="{{ShellParametersRef.betaMax}}"
          step="any" />
      </div>
      <label>a</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.a"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.aMin}}"
          max="{{ShellParametersRef.aMax}}"
          step="any" />
      </div>
      <label>b</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.b"
          (change)="this.parameterUpdateEvent($event)"
          min="{{ShellParametersRef.bMin}}"
          max="{{ShellParametersRef.bMax}}" 
          step="any" />
      </div>
      <label>theta</label>
      <div class="slider-container">
        <input class="slider" type=range [(ngModel)]="this.parameters.theta"
          (change)="this.parameterUpdateEvent($event)"
          min={{ShellParametersRef.thetaMin}}
          max={{ShellParametersRef.thetaMax}}
          step="any" />
      </div>
    </div>
    <div id="result-container">
      <div #resultBox id="result-box"></div>
    </div>
  </div>
  <label id="shell-switch" class="switch">
    <input type="checkbox" [(ngModel)]="this.targetVisible"
      (ngModelChange)="this.setShellVisibility($event)"/>
    <span class="switch-slider"></span>
  </label>
</div>
