#canvas {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    outline: none;
}

#tools-container {
    margin: 10px;
    width: 400px;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.toolbar-button {
    margin: 2px;
    width: 50px;
    height: 25px;
}

#parameters-menu {
    background-color: white;
    opacity: 0.9;
}

.shell-button {
    width: 20%;
    margin: 10px;
    height: 25px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50px 350px;
    padding: 10px;
}

.slider-label {
    display: inline-block;
    width: 45px;
    text-align: center;
}

.slider {
    width: 220px;
}

@media only screen and (max-width: 400px) {
    #tools-container {
        width: 100%;
    }
}
