html {
    font-family: 'Lucida Sans', sans-serif;
}

#canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menu-button {
    position: absolute;
    object-position: left top;
    z-index: 1;
    width: 50px;
    height: 25px;
    left: 25px;
    top: 10px;
}

#save-image-button {
    position: absolute;
    object-position: left top;
    left: 85px;
    width: 50px;
    height: 25px;
    top: 10px;
}

#parameters-menu {
    position: absolute;
    background-color: white;
    object-position: left top;
    left: 25px;
    top: 35px;
    opacity: 0.75;
    z-index: 1;
    width: 425px;
}

.shell-button {
    width: 75px;
    margin: 5px;
    height: 35px;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 50px 350px;
    padding: 10px;
}

.slider-label {
    display: inline-block;
    width: 45px;
    text-align: center;
}

.slider {
    width: 250px;
}
